@use '../../styles/variables.scss';

.container {
  
}
.container .card {
  max-height:700px;
  overflow-y: scroll;
}

.patient-list  {
  
}
.patient-list .patient, .patient-profile .card, input {
  max-height: 50px;
  flex-direction: row;
  box-shadow: none;
  margin: 10px 0;
  align-items: center;
  cursor: pointer;
  background: variables.$lightgrey;
  }

  .patient-list .patient.card.selected {
    background: variables.$darkblue;
  }


.patient.search {
  background-color: variables.$white;
  border: 2px solid variables.$lightgrey;
  &:hover {
    background-color:variables.$white;
  }
}
.patient-list input {
  background: variables.$white;
}
input {
  border: none;
  outline: none;
  background-color: variables.$white;
  padding: 0;
  margin: 0;
  color: variables.$muted;
  &:hover {
    background-color:variables.$white;
  }
}

