 @import '_variables.scss';
 @import '_mixins.scss';
 
 
  * {
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }
  #app {
    height: 80vh;
  }
  body {
    font-family:  Open Sans, sans-serif;
    color: $bluegrey;
    line-height: 1.6;
    font-size: .875rem;
    font-weight: 400;
    color: rgba(0,0,0,.6);
  }
  ul {list-style-type:none;}
  
  a {
    text-decoration: none;
    color:inherit;
  }
  
  h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    margin: 10px 0;
  }
  img {
    width: 100%;
  }

/* App container & Main Content */
.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  height: 100vh;
}

.main-container {
  overflow: auto;
  flex: 1;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
  /* Utilities */
  .flex {
    display: flex;
    justify-content:center;

  }
  
  .grid {
    display: grid;
    justify-content: center;
    height: 100%;
  }

  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    max-width: 100%;
  }
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.search {
  background-color: $white;
  border: 2px solid $muted;
}
  
  /* Forms */
form {
  display: block;
  font-size: .875rem;
  transition: all .15s ease-in-out;
  color: $bluegrey;
}
.form-group input {
  position: relative;
  flex: 1 1 auto;
  padding: 0.625rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: $muted;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  border: 0;
  transition: box-shadow .15s ease;
}
.form-group input::placeholder {
  color: $muted
}
.auth-icons img {
  width: 20px;
  margin-right: 0.25rem;
  vertical-align: middle;
}

  /* Buttons */

  button {
    outline: none;
    background: none;
    border: none;
  }
  .btn {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
    background-color: $brightblue;
    color: $white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-transform: none;
    transition: all .15s ease;
    letter-spacing: .025em;
    font-size: .875rem;
    will-change: transform;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);

    &:hover {
      transform: translateY(-2px);
    }
}
  
  .btn-outline {
    background-color: transparent;
    border: 1px solid $white;
  }
  .btn-nuetral {
    font-weight: 600;
    color: $deepblue;
    background-color: $white;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 
                0 1px 3px rgb(0 0 0 / 8%);
  }

  .bg-primary, .btn-primary {
    background-color: $deepblue;
    color: $white;
  }
  .bg-secondary, .btn-secondary {
    background-color: $rose;
    color: $white;
  }
  .bg-dark, .btn-dark {
    background-color: $darkblue;
    color: $lightblue;
  }
  .bg-light, .btn-light {
    background-color: $lightblue;
    color: #333;
  }
  .bg-primary a,
   .btn-primary a, .bg-secondary a, .btn-secondary a, .bg-dark a, .btn-dark a {
    color: $white;
  }
  .hide {
    display: none;
  }

  
  /* Text sizes */

  h5 {
    text-transform: uppercase;
    color: $muted;
    font-size: .8125rem;
  }
  
  .lead {
    font-size: 20px;
  }
  .sm {
    font-size: 1rem;
  }
  .md {
    font-size: 2rem;
  }
  .lg {
    font-size: 3rem;
  }
  .xl {
    font-size: 4rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Alert */
  .alert {
    background-color: $lightblue;
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
  }
  .alert i {
    margin-right: 10px;
  }
  .alert-success {
    background-color: $green;
    color: $white;
  }
  

  
  /* Margin */
  .my-1 {
    margin: 1rem 0;
  }
  .my-2 {
    margin: 1.5rem 0;
  }
  .my-3 {
    margin: 2rem 0;
  }
  .my-4 {
    margin: 3rem 0;
  }
  .my-5 {
    margin: 4rem 0;
  }
  
  .m-1 {
    margin: 1rem ;
  }
  .m-2 {
    margin: 1.5rem;
  }
  .m-3 {
    margin: 2rem ;
  }
  .m-4 {
    margin: 3rem ;
  }
  .m-5 {
    margin: 4rem ;
  }
  
  /* Padding */
  .py-1 {
    padding: 1rem 0;
  }
  .py-2 {
    padding: 1.5rem 0;
  }
  .py-3 {
    padding: 2rem 0;
  }
  .py-4 {
    padding: 3rem 0;
  }
  .py-5 {
    padding: 4rem 0;
  }
  
  .p-1 {
    padding: 1rem ;
  }
  .p-2 {
    padding: 1.5rem;
  }
  .p-3 {
    padding: 2rem ;
  }
  .p-4 {
    padding: 3rem ;
  }
  .p-5 {
    padding: 4rem ;
  }