@use '../../../styles/_variables';

.row {
  gap: 0;
}
.card.stats-red {
  background: variables.$red-grad;
}
.card.stats-purple  {
  background: variables.$purple-grad;
}
.card.stats-green  {
  background: variables.$green-grad;
}
.card, .stats h5, .card h3, .card p span {
  color: variables.$white;
}
.card p {
  color: variables.$lightblue;
}

.card .icon {
  color: variables.$white;
}
.card.stats-red .icon, .card.stats-purple .icon, .card.stats-green .icon  {
  background: variables.$white;
}

.stats h3 {
  color: variables.$white;
}

.icon i {
  color: variables.$darkblue;
}