@use '../../styles/variables';

.card.details {
  height: auto;
}

.patient-profile {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
}
.patient-list .patient, .patient-profile .card, input {
  width: 100%;
  padding: 10px;
  background-color: variables.$lightgrey;
  box-shadow: none;
  margin: 10px 0;
  align-items: center;
}

.patient-list .patient .selected {
  background: variables.$darkblue;
}
.patient-profile  {
  color: variables.$text;
}
.patient-profile h6 {
  text-transform: uppercase;
  
}
.patient-list .patient:hover {
  background-color:rgba(0, 0, 0, 0.03);
}
.patient-profile .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.patient-profile .patient-header {
  font-weight: 200;
  background-color: variables.$white;
  font-size: .8rem;
}
.patient-header {
  display: flex;
 
}
.patient-header .card {
  background-color: variables.$lightgrey;
  color: variables.$text;
  justify-content: space-between;
}
.patient-header .profile, .patient-header .appts {
  flex-grow: 1;
  cursor: pointer;
}

.patient-header .non-active {
  background-color: variables.$white;
  border: 2px solid variables.$lightgrey;
}
.patient-header .profile {
  margin-right: 1rem;
}
.patient-header h4 {
  padding: 0 10px;
  text-align: center;
  flex-grow: 2;
}

.card.profile-details, .card.profile-history {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: flex-start;
}
.card.profile-details {
  display: flex;
}
.card.profile-details .detail {
  background-color: variables.$white;
  align-items: flex-start; 
  flex-direction: column;
  flex-wrap: wrap;
}
.card.profile-details .detail.basic {
  height: 135px;
  padding-bottom: 0;
}
.card.profile-details .detail-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.card.profile-details .detail-wrapper .detail {
  width: 48%;
}
.card.profile-details .detail-wrapper .detail.width3 {
  width: 30%;
}
.card.profile-details .detail-wrapper .detail.width7 {
  width: 70%
}
.card.profile-details .detail-wrapper .detail p {
  width: 100%;
}
.card.profile-details p {
  margin: 0.2rem 0 0;
  width: 50%;
  font-size: .8rem;
  display: flex;
  align-items: baseline;
}
.card.profile-details p span {
  color: variables.$text;
}
.card.profile-details p b {
  margin: 0 .3rem 0 0;
}