@use '../../../styles/variables';


.App {
  height: 80vh;
}

.main-content.landing .container {
  max-width: 600px;
}
.my-1 {
  margin:.3rem 0;
}
.row {
  max-width: none;
}

.card {
  flex-wrap: wrap;
  text-align: center;
  color: variables.$bluegrey;
  background-color: variables.$bluewhite;
  max-width: 378px;
}
.form-group {
  margin:1.5rem 0 .5rem 0;
}
form input {
  width: 100%;
}
form .inputs {
  margin-bottom: 0;
}

.label {
  gap: 0;
  margin: 1.3rem 0 0 0;
  align-items: center;
}
.label p.select {
  width: 100%;
  margin: 0;
}
.label input {
  width: 10%;
  align-items: baseline;
}
.label label {
  margin-right:.8rem;

}

form input[type='checkbox'] {
  position: relative;
  width: 1rem;
  height: 1.25rem;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
}
.password-strength {
  font-style: italic;
}
.password-strength span {
  color: variables.$green;
  font-weight: bold;
}
.privacy, .password-strength {
  justify-content: left;
  text-align: center;
  align-items: center;
}
.privacy{
  justify-content: center;
 
}

.privacy label {
  justify-content: left;
  position: relative;
  left:-1rem;
}
