@use '../../../styles/_variables';

.row {
  justify-content: space-between;
}
.card .icon {
  position: absolute;
  top: 20px;
  right:20px;
}
h5 {
  color: variables.$muted;
}
.card .icon {
  width:2.5rem;
  height:2.5rem;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  border-radius: 50%;
  color: variables.$white;
  padding: 18px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card.stats-red .icon  {
  background: variables.$red-grad;
}
.card.stats-purple .icon  {
  background: variables.$purple-grad;
}
.card.stats-green .icon  {
  background: variables.$green-grad;
}

.card .icon i {
    font-size: 1.25rem;
}
p span {
  color: variables.$green;
  margin-right: .5rem;
}