@import '../../styles/_variables.scss';

header {
  color: $lightgrey;
  height: 55px;
}
.header.flex {
  justify-self: flex-start;
  justify-content: right;
  flex-grow: 1;
  align-items: center;
}
.header {
  flex-flow: row wrap;
  padding: 15px;
  &:hover {
    color: $opacity-hover;
  }
}
.header h2.flex-item {
  flex-grow: 30;
}
.header img {
  background-color: $rose;
  width:50px;
  height: 50px;
  border-radius:50%;
  margin-right: 20px;
}
.header-right {
  display: flex;
  align-content: flex-end;
  margin-right: 10px;
  align-items: center;
}
.header-right p {
  margin-right: 1rem;
  font-size: .7rem;
  opacity: .9;
}

header h3 {
  font-weight: 300;
  padding-top: 5px;
  cursor: pointer;
  color: $lightgrey;
  &:hover {
    color: $opacity-hover;
  }
  
}
header h3:hover, header-right p:hover, header img:hover {
  color: $opacity-hover;
}