@import '../../styles/_variables.scss';

.footer {
  color: $white;
  font-size: .8rem;
}
.footer .flex {
  justify-content: space-between;
  align-items: center;
}
.footer .copyright {
  display: flex;
  justify-content: left;
  align-items:center;
}
.footer .copyright p {
  padding-right: 10px;
}
.footer .footer-nav {
  display:flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

}
.footer .footer-nav ul {
  display: flex;
  flex-direction: row;
}
.footer .footer-nav ul li {
  padding: 0 0 0 15px;
}