@use './_variables';

.stats .row {
  justify-content: space-between;
}
.stats .card {
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  flex-grow: 1;
  
}
.stats .card .icon {
  position: absolute;
  top: 20px;
  right:20px;
}

.stats h3 {
  font-weight: 200;
  color: variables.$darkblue;
}
.stats .card .icon {
  width:2.5rem;
  height:2.5rem;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  border-radius: 50%;
  color: variables.$white;
  padding: 18px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.stats .card .icon i {
    font-size: 1.25rem;
}
.stats p span {
  color: variables.$green;
  margin-right: .5rem;
}

.stat-red {
  background: variables.$red-grad;
}
.stat-purple {
  background: variables.$purple-grad;
}
.stat-green {
  background: variables.$green-grad;
}